.soundContainer {
  margin: 5% 7% 20%;
  font-family: "Book Antiqua", serif;
  width: 15%;
  height: calc(100% - 400px);

  .flex-column {
    display: grid;
  }

  h3 {
    color: #735646;
    min-height: 5%;
    min-width: 10%;
    padding: 5%;
    font-size: 4vmin;
    background-color: rgba(251, 238, 224, 0.20);
    border-radius: 10px;
    font-weight: bold;
  }

  button {
    color: #f1a857;
    margin-bottom: 3%;
    padding: 5%;
    font-size: 3vmin;
    border: 3px solid rgba(251, 238, 224, 0.77);
    border-radius: 10px;
    font-weight: bold;
    background-color: transparent;
  }

  button:focus:not(:focus-visible) {
    color: #735646;
    background-color: rgba(238, 251, 224, 0.56);
  }
}