.soundContainer {
  margin: 5% 7% 20%;
  font-family: "Book Antiqua", serif;
  width: 15%;
  height: calc(100% - 400px);

  .flex-column {
    display: grid;
  }

  h3 {
    color: #694b3f;
    min-height: 5%;
    min-width: 10%;
    padding: 5%;
    font-size: 4vmin;
    background-color: rgba(251, 238, 224, 0.40);
    border-radius: 10px;
    font-weight: bold;
  }

  button {
    color: #57392f;
    margin-bottom: 3%;
    padding: 2vmin;
    font-size: min(2vmax,3vmin);
    border: 0;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgba(189, 170, 144, 0.5);
  }

  button:focus:not(:focus-visible) {
    color: rgba(243, 193, 137, 0.65);
    background-color: rgba(45, 45, 45, 0.41);
  }

}


.darkMode{
  .soundContainer {
    h3 {
      color: #2f2e2e;
      background-color: rgba(121, 119, 117, 0.59);
    }

    button {
      color: #838080;
      border-color: #4b4a4a;
      background-color: rgba(51, 49, 49, 0.71);
    }

    button:focus:not(:focus-visible) {
      color: #4b4a4a;
      background-color: rgba(148, 148, 148, 0);
      border-color: #3a3939;
    }
  }
}