.taskContainer {
  width: 25%;
  margin: 5% 3% 15%;
  font-family: "Book Antiqua", serif;

  .flex-column {
    display: grid;
  }

  .flex-column-task {
    display: flex;
    padding-bottom: 3%;
  }

  h3 {
    color: #735646;
    min-height: 5%;
    padding: 3%;
    font-size: 4vmin;
    font-weight: bold;
    text-align: left;
  }

  h2 {
    color: #735646;
    min-height: 5%;
    padding-left: 5%;
    font-size: 4vmin;
    font-weight: bold;
    text-align: left;
  }

  .inputTask {
    font-family: "Courier New", monospace;
    color: #735646;
    font-size: 3vmin;
    font-variant: small-caps;
    font-weight: bold;

    &.gray {
      color: darkgray;
      //text-decoration: line-through; toDO: chce zrobić skreślenie
    }
  }

  input {
    max-height: 80%;
    margin-top: 1%;
    border: 0;
    border-bottom: 1px solid;
  }

  input:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #e74c3c;
  }

  .checkbox {
    width: 15%;
    height: 40px;
    overflow: hidden;
    text-align: left;
  }

  .checkbox:not(:last-child) {
    border-bottom: 2px solid white;
  }

  .check {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
  }

  .label span {
    position: absolute;
    margin-top: 15px;
  }

  .path1 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    transition: .5s all;
  }

  .check:checked + label svg g path {
    stroke-dashoffset: 0;
  }

  .inputTask {
    width: 70%
  }

  .buttonStyle {
    font-family: "Book Antiqua", serif;
    background-color: #fbeee0;
    border: 1px solid #735646;
    border-radius: 30px;
    box-shadow: #735646 2px 2px 0 0;
    color: #735646;
    cursor: pointer;
    font-weight: 600;
    font-size: 1vmax;
    padding: 0 1px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .buttonStyle:hover {
    background-color: #fff;
  }

  .buttonStyle:active {
    box-shadow: #735646 2px 2px 0 0;
    transform: translate(2px, 2px);
  }

  @media (min-width: 768px) {
    .buttonStyle {
      min-width: 50px;
      max-height: 40px;
      margin-top: 10px;
      padding: 0 1vmax;
    }
  }
}