.flexParent {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
  gap: 30px;

  .timerPomodoro {
    align-self: center;
    position: center;
    margin-top: 7%;
    margin-bottom: 18%;
    background-color: rgba(154, 123, 97, 0.63);
    max-height: 60%;
    max-width: 45%;
    border-radius: 25px;
    flex-grow: 3;
    font-family: "Book Antiqua", serif;
    color: #4d3228;

    button {
      padding-left: 15px;
      padding-right: 15px;
      font-size: 4vmin;
      margin: 15px;
      flex-wrap: nowrap;
    }

    //button:focus:not(:focus-visible) {
    //  color: rgb(93, 59, 47);
    //  border: 1px #573931 solid;
    //  background-color: rgba(143, 106, 62, 0.45);
    //}

    h1 {
      font-size: min(18vmax, 180px);
      font-weight: bold;
      font-family: "Book Antiqua", serif;
      margin: 0;
    }

    p {
      font-size: 3vmin;
      color: #5d3b2f;
      font-family: "Courier New", monospace;
      font-weight: bold;
    }

  }
  .timerFlowmodoro {
    align-self: center;
    position: center;
    margin-top: 7%;
    margin-bottom: 18%;
    background-color: rgba(154, 123, 97, 0.63);
    max-height: 60%;
    max-width: 45%;
    border-radius: 25px;
    flex-grow: 3;
    font-family: "Book Antiqua", serif;
    color: #4d3228;

    button {
      padding-left: 15px;
      padding-right: 15px;
      font-size: 4vmin;
      margin: 15px;
      flex-wrap: nowrap;
    }

    //button:focus:not(:focus-visible) {
    //  color: rgb(93, 59, 47);
    //  border: 1px #573931 solid;
    //  background-color: rgba(143, 106, 62, 0.45);
    //}

    h1 {
      font-size: min(18vmax, 180px);
      font-weight: bold;
      font-family: "Book Antiqua", serif;
      margin: 0;
    }

    p {
      font-size: 3vmin;
      color: #5d3b2f;
      font-family: "Courier New", monospace;
      font-weight: bold;
    }

  }
}

.darkMode{
  .flexParent {
    .timerPomodoro {
      color: #282c34;
      background-color: rgba(121, 119, 117, 0.59);
      p {
        color: #282c34;
      }
      //button:focus:not(:focus-visible) {
      //  color: rgb(75, 74, 74);
      //  border: 1px rgba(45, 45, 45, 0.41) solid;
      //  background-color: rgba(31, 30, 30, 0.25);
      //}
    }
    .timerFlowmodoro {
      color: #282c34;
      background-color: rgba(121, 119, 117, 0.59);
      p {
        color: #282c34;
      }
      //button:focus:not(:focus-visible) {
      //  color: rgb(75, 74, 74);
      //  border: 1px rgba(45, 45, 45, 0.41) solid;
      //  background-color: rgba(31, 30, 30, 0.25);
      //}
    }
    }
}

